extend page

block meta
  meta(property="description" content=site.description)
  meta(name="og:url"          content=site.site_url)
  meta(name="og:image"        content="https://i.imgur.com/GpzEJQ7.jpg?1")
  meta(name="og:title"        content=site.title)
  meta(name="og:description"  content=site.description)

block headerTitle
  span.hidden-xs
    = site.title

block content
  article
    a.author-wrapper.now-playing(href="https://twitter.com/" + site.title)
      span.container
        span.author
          span.author__userpic
          span.author__info
            span.author__headline.small На этой неделе твиттер ведёт
            h2.author__username= "@" + currentAuthor.username
            if currentAuthor.info.location
              span.small
                span.glyphicon.glyphicon-map-marker
                = " " + currentAuthor.info.location

  each author in authors
    article
      a.author-wrapper(href="/" + author.username + '/' style="background-image: url(" + author.media.banner + ");")
        span.container
          span.author
            span.author__userpic(style="background-image: url(" + author.media.image + ");")
            span.author__info
              span.author__headline.small
                = helpers.authorRender.d(author.tweets[0].created_at)
                &nbsp;&ndash;&nbsp;
                = helpers.authorRender.d(author.tweets[author.tweets.length - 1].created_at)
              h2.author__username= "@" + author.username
              if author.info.location
                span.small
                  span.glyphicon.glyphicon-map-marker
                  = " " + author.info.location
