extend page

block meta
  meta(property="description" content=site.description)
  meta(name="og:url"          content=site.site_url)
  meta(name="og:image"        content="https://i.imgur.com/GpzEJQ7.jpg?1")
  meta(name="og:title"        content=site.title)
  meta(name="og:description"  content=site.description)

block headerTitle
  span.hidden-xs
    = site.title

block content
  article
    a.now-playing-wrapper(href="https://twitter.com/" + site.title)
      span.container
        span.now-playing
          span.now-playing__userpic
          span.now-playing__info
            span.now-playing__headline.small На этой неделе твиттер ведёт
            br
            span.now-playing__username= "@" + currentAuthor.username
            br
            if currentAuthor.info.location
              span.small
                span.glyphicon.glyphicon-map-marker
                = " " + currentAuthor.info.location

  article.container
    each row in authors
      .row
        each author in row
          .col-md-4
            .row
              .col-md-2
                .row.text-center
                  .img-circle(style="width: 48px; height: 48px; background-image: url(" + author.media.image + "); background-size: cover; margin: 0 auto;")
              .col-md-10
                h2(style="margin: 0"): a(href="/" + author.username + '/')
                  = "@" + author.username
                if author.info.location
                  small
                    span.glyphicon.glyphicon-map-marker
                    = " " + author.info.location
            .row
              .col-md-12
                p.list__item-desc!= helpers.render(helpers.firstTweet(author))
